SECRET_KEY="C2BBB6A1306F2103D1222BE09DC4364DEFDDCAC783CDE3CDE9F8A88D3D8B0442"
APP_LOG_LEVEL=info
COMMERCE_DATABASE_URL=postgresql://stripe_runtime:password@localhost:5432/opie_commerce
APP_NAME="Stripe TEST"


E2E_BASE_URL= # Test client url that will be used by e2e to pay with Stripe
E2E_SALEOR_API_URL= # Saleor API url that tests will run against
E2E_CHARGE_CHANNEL_SLUG= # Slug of channel that has transactionFlow: CHARGE set
E2E_AUTHORIZATION_CHANNEL_SLUG= # Slug of channel that has transactionFlow: AUTHORIZATION set
